body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
    color: white;
    text-align: center;
    padding-top: 20%;
    z-index: 1000;
}
.bodyindex{

    background-color: rgb(203, 46, 130);

}

.fonttable{

    font-size: xx-large;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}